h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Lato', sans-serif !important;
 }
.core{
   height:100%;
}

.brand-bg-img{
   background: #e2720a url(“../media/images/botecho_logo_size_invert.png”) no-repeat;
   background-size: contain;
   background-position: left center;
}

.row-vh-f{
   height: 100vh;
}

.auth-bg{
   background-color: #FFFFFF;
}