{{define "content"}}
<div class="ui stackable grd">
    <div class="ui equal width row row-vh-f">
        <div class="ui column brand-bg-img row-vh-f"></div>
        <div class="ui column auth-bg middle aligned padded">
        <div class="ui container form segment">
        <form class="ui form padded">
        <div class="ui buttons two fluid">
        <div class="ui animated fluid large fade button" tabindex="0">
        <div class="visible content"><i class="github icon"></i></div>
        <div class="hidden content">
                                           Github
        </div>
        </div>
        <div class="ui left floated animated fluid large fade basic button" tabindex="0">
        <div class="visible content"><i class="slack icon"></i></div>
        <div class="hidden content">
                                           Slack
        </div>
        </div>
        </div>
        
        <div class="ui buttons two fluid">
        <div class="ui animated fluid large fade facebook button" tabindex="0">
        <div class="visible content"><i class="facebook icon"></i></div>
        <div class="hidden content">
                                           facebook
        </div>
        </div>
        <div class="ui left floated animated fluid large fade twitter button" tabindex="0">
        <div class="visible content"><i class="twitter icon"></i></div>
        <div class="hidden content">
                                           twitter
        </div>
        </div>
        </div>
        
        <div class="ui buttons two fluid">
        <div class="ui animated fluid large fade google plus button" tabindex="0">
        <div class="visible content"><i class="google plus icon"></i></div>
        <div class="hidden content">
                                           google plus
        </div>
        </div>
        <div class="ui left floated animated fluid large fade youtube button" tabindex="0">
        <div class="visible content"><i class="youtube icon"></i></div>
        <div class="hidden content">
                                           youtube
        </div>
        </div>
        </div>
        
        <div class="ui buttons two fluid">
        <div class="ui left floated animated fluid large fade vk button" tabindex="0">
        <div class="visible content"><i class="vk icon"></i></div>
        <div class="hidden content">
                                           Вкентаклях
        </div>
        </div>
        <div class="ui left floated animated fluid large fade linkedin button" tabindex="0">
        <div class="visible content"><i class="linkedin icon"></i></div>
        <div class="hidden content">
                                           linkedin
        </div>
        </div>
        </div>
        
        <div class="field">
        <div class="ui checkbox">
        <input type="checkbox" tabindex="0" class="hidden">
        <label>I agree to the Terms and Conditions</label>
        </div>
        </div>
        </form>
        </div>
        </div>
        </div>
        </div>
        {{ end }}